@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

body {
  margin: 0;  
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  color: #2D3440;
  background-color: #FEAFC3;
}

.body-inner {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

/* Стили для .main-header */

.main-header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-nav {
  width: 585px;
  display: flex;
  align-items: center;
}

.logo-link {
  display: block;
  width: 137px;
  height: 56px;
  align-self: flex-start;
}

.logo-link[href] svg:hover {
  opacity: 0.6;
}

.logo-link[href] svg:active {
  opacity: 0.3;
}

.main-nav-list {
  margin: 0;
  margin-left: 17px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-nav-link {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  border-radius: 26px;
}

.main-nav-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.main-nav-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.main-nav-link[href]:focus {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.main-nav-link[href]:active {
  outline: none;
  background-color: #FCFCFC;
  opacity: 1;
}

.catalog-item-wrapper {
  position: relative;
}

.catalog-item-wrapper:hover .main-nav-link {
  color: #2D3440;
  background-color: #FCFCFC;
}

.catalog-item-wrapper:hover .catalog-tastes {
  display: block;
}

.catalog-tastes {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 16px;
  min-width: 138px;
  max-width: 250px;
  background-color: #FCFCFC;
  border-radius: 4px;
  list-style: none;
  word-wrap: break-word;
  display: none;
  z-index: 3;
}

.catalog-new-items {
  position: relative;
  margin-bottom: 12px;
}

.catalog-new-items::after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  bottom: -6px;
  left: 16px;
  right: 16px;
  background-color: #B9B9B9;
}

.catalog-new-items a {
  font-weight: bold;
}

.catalog-tastes-link {
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.catalog-tastes-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.catalog-tastes-link:hover {
  background-color: #FFCBD8;
}

.catalog-tastes-link:active {
  background-color: #FF7799;
}

.user-nav {
  margin-left: auto;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.contact-phone {
  display: block;
  margin: 18px 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #2D3440;
  text-decoration: none;
  border-radius: 26px;
}

.contact-phone:hover {
  opacity: 0.6;
}

.contact-phone:focus {
  outline: 2px solid #2D3440;
  outline-offset: 5px;
}

.contact-phone:active {
  outline: none;
  opacity: 0.3;
}

.link-btn-wrapper {
  position: relative;
}

.link-btn {
  position: relative;
  margin: 10px 16px;
  padding: 6px 16px;
  padding-left: 40px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);;
  text-decoration: none;
  border-radius: 26px;
}

.link-btn:last-of-type {
  margin-right: 0;
}

.link-btn:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.link-btn:focus {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.5);
}

.link-btn:active {
  outline: none;
  background-color: #FCFCFC;
  opacity: 1;
}

.link-btn-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 16px;
  margin: auto;
}

.main-search {
  box-sizing: border-box;
  padding-left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main-search .link-btn-icon {
  right: 0;
  left: 0;
}

/* Общие стили для поповер и инпутов */

.popover {
  position: absolute;
  right: 0;
  background: #FCFCFC;
  border-radius: 4px;
  z-index: 3;
  word-wrap: break-word;
}

.link-btn-wrapper:hover .popover-search,
.link-btn-wrapper:hover .popover-sign-in,
.link-btn-wrapper:hover .popover-basket-empty,
.link-btn-wrapper:hover .popover-basket-full {
  display: block;
}

.popover-search {
  box-sizing: border-box;
  padding: 24px 16px;
  width: 356px;
  display: none;
}

.input-wrapper {
  position: relative;
}

.basic-input {
  box-sizing: border-box;
  padding: 13px 16px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.basic-input::placeholder {
  color: #B9B9B9;
}

.basic-input:hover {
  border-color: #2D3440;
}

.basic-input:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
}

.basic-input-error {
  border-color: #EA5454;
}

.basic-input-error:hover {
  border-color: #EA5454;
  outline: 1px solid #EA5454;
}

.basic-input:disabled {
  background-color: #E7E7E7;
}

.popover-input {
  padding-right: 42px;
}

.popover-clear {
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../image/svg/input-clear.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  display: none;
}

.popover-clear:hover {
  opacity: 1;
}

.popover-input:not(:placeholder-shown) + .popover-clear {
  display: block;
}

/* Закончились общие стили для поповер и инпутов */

.popover-sign-in {
  box-sizing: border-box;
  padding: 48px;
  padding-bottom: 52px; 
  width: 420px;
  display: none;
}

.popover-sign-in h2 {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.popover-sign-in .input-wrapper {
  margin-bottom: 16px;
}

.popover-sign-in-inner {
  padding-top: 16px;
  display: flex;
}

.popover-sign-in-inner a {
  padding-bottom: 1px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.popover-sign-in-inner a:hover,
.popover-sign-in-inner a:focus {
  border: none;
}

.popover-sign-in-inner a:active {
  outline: none;
  opacity: 0.6;
}

.sign-in-submit {
  width: 113px;
  margin-right: 23px;
}

/* Стили для кнопок */

.button {
  box-sizing: border-box;
  padding: 12px 32px;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  outline-width: 4px;
  outline-style: solid;
  text-decoration: none;
  word-wrap: break-word;
}

.basic-btn {
  color: #2D3440;
  background-color: #FCFCFC;
  outline-color: rgba(252, 252, 252, 0.4);
  outline-offset: -1px;
}

.basic-btn:hover {
  background-color: rgba(252, 252, 252, 0.4);;
  outline-color: #FCFCFC;
}

.basic-btn:focus {
  background-color: #FCFCFC;
  outline-width: 2px;
  outline-color: #2D3440;
}

.basic-btn:active {
  outline: none;
  opacity: 0.3;
}

.basic-btn:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.additional-btn {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline-color: rgba(255, 47, 100, 0.3);
}

.additional-btn:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
}

.additional-btn:focus {
  outline-width: 2px;
  outline-color: #2D3440;
}

.additional-btn:active {
  outline: none;
  opacity: 0.3;
}

.additional-btn:disabled {
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Закончились стили для кнопок */

.popover-basket-empty {
  box-sizing: border-box;
  padding: 48px;
  width: 288px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  display: none;
}

.popover-basket-full {
  box-sizing: border-box;
  padding: 48px;
  width: 441px;
  display: none;
}

.popover-basket-full h2 {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.basket-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 1px solid #E7E7E7;
}

.basket-item {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.basket-item:last-of-type {
  margin-bottom: 32px;
}

.basket-item-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.basket-item-link:hover {
  opacity: 0.6;
}

.basket-item-link:focus {
  outline-offset: 5px;
}

.basket-item-link:active {
  outline: none;
  opacity: 0.3;
}

.bakset-item-img {
  margin: 0;
  display: block;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.basket-item-description {
  margin-left: 16px;
  width: 147px;
}

.basket-item-description h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.basket-item-description p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.basket-item-cost {
  margin-left: 16px;
  width: 71px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.basket-item-del {
  margin-left: auto;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../image/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.basket-item-del:hover {
  opacity: 0.6;
}

.basket-item-del:focus {
  outline-offset: 5px;
}

.basket-item-del:active {
  outline: none;
  opacity: 0.3;
}

.basket-order-wrapper {
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.basket-order-btn {
  max-width: 198px;
}

.total {
  margin: 0;
  margin-left: auto;
  max-width: 115px;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  word-wrap: break-word;
}

.total-amount {
  white-space: nowrap;
}

/* Стили для .slides */

.slides {
  position: relative;
}

.slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  display: none;
}

.slides-item-current {
  display: flex;
}

/* Классы ниже должны задаваться непосредственно тегу body,
  при выборе того или иного слайда */

.bg-slides-item-1 {
  background-color: #FEAFC3;
}

.bg-slides-item-2 {
  background-color: #69A9FF;
}

.bg-slides-item-3 {
  background-color: #FCC850;
}

/* Закончились отдельные классы слайдов */

.slide-left-column {
  box-sizing: border-box;
  padding-top: 136px;
  padding-right: 35px;
  padding-bottom: 138px;
  padding-left: 70px;
  display: flex;
  width: 540px;
  flex-direction: column;
  word-wrap: break-word;
}

.slide-header {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide-description {
  margin: 0;
  margin-bottom: 48px;
  width: 414px;
  font-size: 18px;
  line-height: 24px;
}

.slide-order-btn {
  max-width: 100%;
  align-self: flex-start;
}

.slide-right-column {
  box-sizing: border-box;
  margin-left: 21px;
  padding-top: 21px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.slide-right-column figure {
  margin: 0;
}

.slide-right-column img {
  position: relative;
  z-index: 1;
}

.slide-right-column .slide-image {
  position: relative;
  width: 312px;
  height: 507px;
  overflow: hidden;
  margin-right: 20px;
}

.slide-image::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  margin-top: -154px;
  width: 312px;
  height: 312px;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.slide-right-column .image-following {
  position: relative;
  display: block;
  width: 100px;
  height: 150px;
  text-align: center;
  overflow: hidden;
}

.image-following::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.buttons-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 50%;
  margin-left: -43px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.slides-button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.slides-button svg {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -2px;
  fill: #FCFCFC;
}

.slides-button:hover {
  background-color: #FCFCFC;
}

.slides-button:hover svg {
  fill: #2D3440;
}

.slides-button:active {
  outline: none;
  border-color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);;
}

.slides-button:disabled {
  border-color: rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.3);
}

.slides-button:disabled svg {
  fill: rgba(252, 252, 252, 0.3);
}

.slides-button-prev {
  transform: rotate(180deg);
}

.slides-pagination-list {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.slides-pagination-item {
  margin-right: 8px;
}

.slides-pagination-item:last-child {
  margin-right: 0;
}

.slides-pagination-btn {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slides-pagination-btn:hover {
  outline: 1px solid #FCFCFC;
  outline-offset: -1px;
}

.slides-pagination-btn:focus {
  outline: 1px solid black;
  outline-offset: -1px;
}

.slides-pagination-btn-current {
  background-color: #FCFCFC;
}

.social-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 104px;
  list-style: none;
}

.slides-social-list {
  position: absolute;
  right: 0;
  bottom: 0;  
}

.social-item:last-of-type {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.2);
  outline-offset: -1px;
  border-radius: 50%;
}

.social-link svg {
  fill: #FCFCFC;
}

.social-link:hover {
  background-color: #2D3440;
}

.social-link:focus {
  outline-color: #2D3440;
  background-color: #2D3440;
}

/* Стили для .promotions */

.promotions {
  padding-top: 80px;
}

.promotions-header {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 443px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  word-wrap: break-word;
}

.promotions-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
}

.promotion-item {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 570px;
  background-color: #FF7799;
  border-radius: 16px;
  word-wrap: break-word;
  background-repeat: no-repeat;
}

.promotion-item-1 {
  background-image: url("../image/decorative/promotion-raspberries.png");
  background-position: bottom right 15px;
}

.promotion-item-2 {
  background-image: url("../image/decorative/promotion-marshmallows.png");
  background-position: bottom right 7px;
}

.promotion-item-2 .promotion-item-description {
  width: 294px;
}

.promotion-item-header {
  margin: 0;
  margin-bottom: 16px;
  width: 321px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promotion-item-description {
  margin: 0;
  margin-bottom: 32px;
  width: 321px;
}

.promotion-item .button {
  margin-top: auto;
}

/* Стили для .popular */

.popular {
  margin-top: 80px;
}

.popular-header {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.pupular-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

/* Стили для карточки товара */

.catalog-item {
  box-sizing: border-box;
  position: relative;
  margin-top: 51px; 
  padding-top: 51px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  width: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 8px;
  word-wrap: break-word;
}

.catalog-image-link {
  position: absolute;
  top: -51px;
  left: 50%;
  margin: 0;
  margin-left: -84px;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
  overflow: hidden;
}

.catalog-item-header {
  margin-top: 82px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-header-link {
  color: inherit;
  text-decoration: none;
}

.catalog-header-link:hover {
  opacity: 0.6;
}

.catalog-header-link:active {
  opacity: 0.3;
}

.catalog-item-description {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-order-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-price {
  min-width: 85px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.catalog-btn {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FF2F64;
  border: none;
  cursor: pointer;
}

.catalog-btn svg {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
  fill: #FCFCFC;
}

.catalog-btn:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.catalog-btn:hover svg {
  fill: #2D3440;
}

.catalog-btn:focus {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.catalog-btn:active {
  opacity: 0.6;
}

.catalog-btn:disabled {
  background-color: #B9B9B9;
  outline: none;
  opacity: 1;
}

.catalog-btn:disabled svg {
  fill: #565C66;
}

/* Закончились стили для карточки товара */

.features {
  margin-top: 80px;
  padding: 24px;
  background-image: url("../image/decorative/features-bg.png");
  border-radius: 16px;
}

.features-inner {
  padding: 56px 40px;
  padding-top: 57px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.features-header {
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 995px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 31px;
  row-gap: 40px;
  list-style: none;
}

.features-item {
  position: relative;
  box-sizing: border-box;
  padding-left: 64px;
  width: 506px;
  color: #565C66;
}

.features-item::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-ice-cream::before {
  background-image: url("../image/decorative/features-ice-cream.png");
}

.features-item-cow::before {
  background-image: url("../image/decorative/features-cow.png");
}

.features-item-leaf::before {
  background-image: url("../image/decorative/features-leaf.png");
}

.features-item-termometer::before {
  left: -1px;
  background-image: url("../image/decorative/features-termometer.png");
}

.features-item p {
  margin: 0;
}

/* Стили для .blog */

.content-wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog {
  box-sizing: border-box;
  padding: 32px;
  width: 570px;
  min-height: 220px;
  background-color: #FFFFFF;
  background-image: url("../image/decorative/blog-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

.blog span {
  color: #565C66;
  line-height: 20px;
}

.news-header {
  margin: 0;
  margin-top: 12px;
  max-width: 303px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  word-wrap: break-word;
}

.news-header a {
  color: #2D3440;
  text-decoration: none;
}

/* Стили для .subscribe */

.subscribe {
  box-sizing: border-box;
  padding: 6px;
  width: 570px;
  border-radius: 16px;
  background-image: url("../image/decorative/subscribe-bg.png");
}

.subscribe-inner {
  box-sizing: border-box;
  padding: 26px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #565C66;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.subscribe-appeal {
  margin: 0;
}

.subscribe-form {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-input {
  margin-right: 24px;
}

.subscribe-btn {
  max-width: 152px;
}

/* Стили для .order */

.order {
  margin-top: 76px;
  padding: 64px;
  display: flex;
  justify-content: space-between;
  background-color: #d4c9c1;
  background-image: url("../image/decorative/order-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.order-left-column {
  padding: 36px;
  padding-bottom: 37px;
  width: 371px;
}

.order-header {
  margin-top: 68px;
  margin-bottom: 23px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.order-description {
  margin: 0;
  color: #565C66;
}

.order-right-column {
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 41px;
  width: 500px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.order-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.order-form-description {
  margin: 0;
  margin-bottom: 31px;
  max-width: 380px;
}

.order-form label {
  margin-bottom: 8px;
  display: inline-block;
  font-weight: bold;
  line-height: 20px;
}

.order-date {
  width: 117px;
}

.info-wrapper {
  position: relative;
  top: -6px;
  left: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.order-info-btn {
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../image/svg/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.order-info-content {
  position: absolute;
  top: 2px;
  left: 20px;
  box-sizing: border-box;
  padding: 10px 8px;
  width: 163px;
  font-size: 12px;
  line-height: 16px;
  color: #565C66;
  background-color: #FCFCFC;
  border: 1px solid rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  display: none;
}

.order-info-content::before {
  position: absolute;
  left: -7px;
  display: block;
  content: "";
  width: 7px;
  height: 14px;
  background-image: url("../image/decorative/popover-info-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.info-wrapper:hover .order-info-content {
  display: block;
}

.order-address {
  grid-column: span 2;
}

.order-btn-submit {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  grid-column: span 2;
}

/* Стили для address */

.address-wrapper {
  margin-top: 80px;
  padding: 64px;
  background-color: #E1C7BC;
  background-image: url("../image/decorative/address-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.address {
  box-sizing: border-box;
  padding: 40px;
  width: 343px;
  font-style: normal;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.address p {
  margin: 0;
  margin-bottom: 12px;
  color: #565C66;  
}

.address b {
  margin-bottom: 24px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.address b:last-of-type {
  margin-bottom: 0;
}

.opening-hours {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.feedback-btn {
  box-sizing: border-box;
  margin-top: 32px;
  width: 250px;
}

/* Стили для .modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal-container-show {
  display: flex;
}

.modal {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 64px;
  padding-bottom: 66px;
  width: 570px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../image/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-close-btn:hover {
  opacity: 0.6;
}

.modal-close-btn:active {
  opacity: 0.3;
}

.modal-feedback-content p {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: block;
  margin-bottom: 16px;
}

.textarea-input {
  height: 149px;
  resize: none;
}

.feedback-form-btn {
  margin-top: 16px;
  align-self: flex-end;
}

/* Стили для .main-footer */

.main-footer {
  padding-top: 48px;
  padding-right: 14px;
  padding-bottom: 48px;
  padding-left: 4px;
  display: flex;
}

.footer-catalog {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.information {
  margin-left: 299px;
  width: 356px;
  display: flex;
  flex-wrap: wrap;
}

.information a {
  position: relative;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.information a:hover {
  opacity: 0.6;
}

.information a:active {
  opacity: 0.3;
}

.information-left-column,
.information-right-column {
  display: flex;
  flex-direction: column;
}

.information .information-for-suppliers {
  margin-left: 0;
  padding-left: 24px;
  font-weight: bold;
}

.information-for-suppliers::before {
  position: absolute;
  display: block;
  content: "";
  top: 3px;
  left: 1px;
  width: 14px;
  height: 13px;
  background-color: transparent;
  background-image: url("../image/svg/for-suppliers.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin-left: auto;
  width: 193px;
  font-size: 12px;
  line-height: 16px;
}

.copyright a:hover {
  opacity: 0.6;
}

.copyright a:active {
  opacity: 0.6;
}

.htmlacademy-logo {
  margin-bottom: 10px;
}

.copyright p {
  margin: 0;
}

.academy-link {
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}

/* Стили для .breadcrumbs */

.breadcrumbs {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
}

.breadcrumbs-item:not(:last-child):after {
  position: absolute;
  display: block;
  content: "";
  width: 7px;
  height: 6px;
  top: 50%;
  margin-top: -2px;
  right: -18px;
  background-image: url("../image/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item a {
  padding-bottom: 1px;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-item:last-child a {
  border-bottom: none;
}

.catalog-main-header {
  margin-top: 17px;
  margin-bottom: 39px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* Стили для .catalog-filter */

.catalog-filter {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter fieldset {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-filter legend {
  margin-left: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter .catalog-sorting,
.catalog-filter .catalog-range {
  margin-right: 24px;
  width: 196px;
}

.select-sorting {
  padding: 8px 16px;
  padding-right: 36px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;  
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../image/svg/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 16px;
  border: none;
  border-radius: 20px;
  appearance: none;
}

.select-sorting:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-sorting:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #FCFCFC;
  outline-offset: -2px;
}

.range-wrapper-input {
  display: flex;
}

.range-input {
  padding-left: 4px;
  width: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  border: none;
  background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale-wrapper {
  box-sizing: border-box;
  padding: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  left: 32px;
  right: 60px;
  background-color: #565C66;
}

.range-toggle {
  /* Почему-то не отрисовывает элемент меньше 12px в длину, 
  пришлось сделать через background-image */
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-image: url("../image/svg/range-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.range-toggle:hover {
  background-image: url("../image/svg/range-toggle-hover.svg");
}

.range-toggle:focus {
  background-image: url("../image/svg/range-toggle-hover.svg");
  outline: 2px solid #2D3440;
}

.range-toggle:active {
  background-color: #2D3440;
  background-image: none;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.fat-content-wrapper {
  box-sizing: border-box;
  width: 367px;
}

.fat-content-wrapper,
.filler-content-wrapper {
  padding: 8px 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter .catalog-filler {
  width: 596px;
  margin-right: 24px;
}

.control {
  margin-right: 17px;
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.control:last-of-type {
  margin-right: 0;
}

.control-mark {
  position: absolute;
}

.control:hover .control-mark {
  border-color: #FCFCFC;
}

.control-input:focus + .control-mark {
  outline: 1px solid #2D3440;
  outline-offset: 2px;
}

.control-input:disabled + .control-mark {
  border-color: #2D3440;
  opacity: 0.4;
}

.control-mark-radio {
  top: 1px;
  left: -1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;  
  border: 2px solid #2D3440;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
}

.control:hover .control-mark-radio::before,
.control:hover .control-input[type="radio"]:checked + .control-mark-radio::before {
  background-color: #FCFCFC;
}

.control-input:disabled:checked + .control-mark-radio::before {
  background-color: #2D3440;
}

.control-input:disabled:not(:checked) + .control-mark-radio::before {
  display: none;
}

.control-mark-checkbox {
  top: 2px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-image: url("../image/svg/check-off.svg");
}

.control-input[type="checkbox"]:hover + .control-mark-checkbox {
  background-image: url("../image/svg/check-off-hover.png");
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox {
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("../image/svg/check-on.svg");
}

.control-input[type="checkbox"]:checked:hover + .control-mark-checkbox {
  background-image: url("../image/svg/check-on-hover.svg");
}

.control-input[type="checkbox"]:checked:disabled + .control-mark-checkbox {
  background-image: url("../image/svg/check-on.svg");
  opacity: 0.4;
}

.control-input[type="checkbox"]:disabled + .control-mark-checkbox {
  background-image: url("../image/svg/check-off.svg");
  opacity: 0.4;
}

.catalog-filter-submit {
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 8px 20px;
  width: 187px;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.for-pixel-perfect-only {
  /* изначально была надпись "сахарные ПРИсыпки", которая затем сменилась на 
  "сахарноые ПОсыпки". Элемент стал меньше, следовательно расстояние между этим и 
  последующим элементом стало больше. Оно должно быть равно 24px, но дизайнер 
  видимо не стал этого менять. Так что этот селектор служит исключительно 
  для переопределения внешнего отступа справа для пиксель перфекта. Вот так. */
  margin-right: 24px;
}

/* Стили для .catalog */

.catalog {
  margin-bottom: 57px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
}

/* Стили для .pagination */

.pagination {
  margin-left: auto;
  margin-bottom: 81px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.more-pages {
  grid-column: 2;
  max-width: 350px;
}

.pagination-list-wrapper {
  grid-column: 3;
  margin-left: auto;
  max-width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex; 
  list-style: none;
}

.pagination-link {
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 20px;
  color: #2D3440;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.pagination-item {
  margin-right: 2px;
}

.pagination-link-current {
  background-color: #FCFCFC;
}

.pagination-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  outline-offset: -1px;
}

.pagination-link[href]:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.pagination-button {
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("../image/svg/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-button:not([href]) {
  opacity: 0.2;
}

.pagination-button-prev {
  margin-right: 20px;
}

.pagination-button-next {
  margin-right: 4px;
  margin-left: 21px;
  transform: rotate(180deg);
}